.shop {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.left {
    width: 85%;
    margin: 1.5rem auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}

@media screen and (max-width: 768px) {
    .shop {
        grid-template-columns: 1fr;
    }

    .left {
        width: 90%;
        grid-template-columns: 1fr;
    }
}