.product {
    border: 1px solid transparent;
    background-color: white;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product:hover {
    box-shadow: 5px 5px 10px gray;
}

.product-info {
    padding: 0.6rem;
}

.product img {
    width: 100%;
    border-radius: 7px;
}

h3,
h4 {
    margin: 0;
}

.card-btn p {
    padding-left: 0.6rem;
}

.card-btn button {
    width: 100%;
    border: none;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    background-color: #FF99004D;
    padding: 1rem;
    transition: all ease 0.4s;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}

.card-btn button:hover {
    background-color: orange;
}