.header {
    height: 5vh;
    background-color: #1C2B35;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 4rem;
}

.header a {
    text-decoration: none;
    color: white;
    margin-left: 1rem;
    transition: all ease 0.4s;
}

.header a:hover {
    color: orange;
}

@media screen and (max-width: 768px) {
    .header {
        padding: 1rem;
        position: sticky;
        z-index: 999;
        top: 0;
    }

    .header img {
        width: 5rem;
    }
}